﻿@{ 
    var Club = ViewData["Club"] as Club;
    var Clubs = ViewData["Clubs"] as List<Pages>;
    ViewData["site_url"] = "https://localhost:44372";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700' rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="@ViewData["site_url"]/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@ViewData["site_url"]/css/font-icons.css" />
    <link rel="stylesheet" href="@ViewData["site_url"]/css/style.css" />

</head>

<body>

    <!-- Preloader -->
    <div class="loader-mask">
        <div class="loader">
            "Loading..."
        </div>
    </div>

    <main class="main-wrapper">

        <!-- Navigation -->
        <header class="nav">
            <div class="nav__holder nav--sticky">
                <div class="container-fluid container-semi-fluid nav__container">
                    <div class="flex-parent">

                        <div class="nav__header">
                            <!-- Logo -->
                            <a href="/Home" class="logo-container flex-child">
                                <img class="logo" src="@Club.style.LogoURL" srcset="@Club.style.LogoURL" alt="logo">
                            </a>

                            <!-- Mobile toggle -->
                            <button type="button" class="nav__icon-toggle" id="nav__icon-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="nav__icon-toggle-bar"></span>
                                <span class="nav__icon-toggle-bar"></span>
                                <span class="nav__icon-toggle-bar"></span>
                            </button>
                        </div>

                        <!-- Navbar -->
                        <nav id="navbar-collapse" class="nav__wrap collapse navbar-collapse">
                            <ul class="nav__menu">
                                <li class="nav__dropdown">
                                    <a href="#">Home</a>
                                    <i class="ui-arrow-down nav__dropdown-trigger"></i>
                                    <ul class="nav__dropdown-menu">
                                        @foreach (Pages clubList in Clubs)
                                        {
                                            <li><a href="@clubList.URL">@clubList.Title</a></li>
                                        }
                                    </ul>
                                </li>
                                @foreach (Pages p in Club.pages)
                                {
                                    if (p.isMultiple.Equals(false))
                                    {
                                        <li>
                                            <a href="@p.URL">@p.Title</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav__dropdown">
                                            <a href="#">@p.Title</a>
                                            <i class="ui-arrow-down nav__dropdown-trigger"></i>
                                            <ul class="nav__dropdown-menu">
                                                @foreach (Pages p2 in p.others)
                                                {
                                                    <li><a href="@p2.URL">@p2.Title</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul> <!-- end menu -->
                        </nav>
                        <!-- end nav-wrap -->

                        <div class="nav__btn-holder nav--align-right">
                            <a href="#" class="btn nav__btn__custom">
                                <span class="nav__btn__custom-phone">Registration & Info</span>
                            </a>
                        </div>

                    </div> <!-- end flex-parent -->
                </div> <!-- end container -->
            </div>
        </header> <!-- end navigation -->
        <!-- Triangle Image -->

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 600 480" style="enable-background:new 0 0 600 480;" xml:space="preserve" class="triangle-img triangle-img--align-right">
            <g>
                <path class="st0" d="M232.16,108.54,76.5,357.6C43.2,410.88,81.5,480,144.34,480H455.66c62.83,0,101.14-69.12,67.84-122.4L367.84,108.54C336.51,58.41,263.49,58.41,232.16,108.54Z" fill="url(#img1)" />

                <path class="st0" d="M232.16,108.54,76.5,357.6C43.2,410.88,81.5,480,144.34,480H455.66c62.83,0,101.14-69.12,67.84-122.4L367.84,108.54C336.51,58.41,263.49,58.41,232.16,108.54Z" fill="url(#triangle-gradient)" fill-opacity="0.7" />

            </g>
        
            <defs>
                <pattern id="img1" patternUnits="userSpaceOnUse" width="500" height="500">
                    <image xlink:href="@Club.style.BG1" x="50" y="70" width="500" height="500"></image>
                </pattern>

                <!-- DEFAULT: #2ca4ea / #6cc7fc -->
                <linearGradient id="triangle-gradient" y2="50%" x2="0" y1="50%" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="@Club.style.Color2" />
                    <stop offset="1" stop-color="@Club.style.Color1" />
                </linearGradient>
            </defs>    
    </svg>

    <div class="content-wrapper oh">

        @RenderBody();

        <div id="back-to-top">
            <a href="#top"><i class="ui-arrow-up"></i></a>
        </div>

    </div> <!-- end content wrapper -->
  </main> <!-- end main wrapper -->

  <!-- jQuery Scripts -->
  <script src="@ViewData["site_url"]/js/jquery.min.js"></script>
  <script src="@ViewData["site_url"]/js/bootstrap.min.js"></script>
  <script src="@ViewData["site_url"]/js/plugins.js"></script>
  <script src="@ViewData["site_url"]/js/scripts.js"></script>

</body>
</html>
