﻿@{
    var Club = ViewData["Club"] as Club;
}

<style>
    .nav__menu > .active > a {
        color: @Club.style.Color1 !important;
    }

    .nav__menu > li > a:hover {
        color: @Club.style.Color2 !important;
    }

    .nav__btn__custom {
        background: @Club.style.Color3;
        /* Old browsers */
        /* FF3.6+ */
        /* Chrome,Safari4+ */
        /* Chrome10+,Safari5.1+ */
        /* Opera 11.10+ */
        /* IE10+ */
        background: linear-gradient(to right, @Club.style.Color3 0%, @Club.style.Color3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */
        padding: 10px 17px;
        text-align: center;
    }

    .nav__btn__custom span {
        display: block;
    }

    .nav__btn__custom-text {
        font-size: 12px;
    }

    .nav__btn__custom-phone {
        font-size: 18px;
    }

    .highlight {
        color: @Club.style.Color2;
    }

    .hover-line:before {
        background-color: @Club.style.Color2;
    }

    .bg-gradient:before {
	    content: "";
	    top: 0;
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    opacity: .7;
	    background: @Club.style.Color1;
	    /* Old browsers */
	    /* FF3.6+ */
	    /* Chrome,Safari4+ */
	    /* Chrome10+,Safari5.1+ */
	    /* Opera 11.10+ */
	    /* IE10+ */
	    background: linear-gradient(to top, @Club.style.Color1 0%, @Club.style.Color2 100%);
	    /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
	    /* IE6-9 */ 
    }
</style>

<section class="hero">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="hero__text-holder">
                    <h1 class="hero__title hero__title--boxed">@Club.Title</h1>
                    <h2 class="hero__subtitle">@Club.Tagline</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Optin Form -->
                <div class="optin">
                    <h3 class="optin__title">@Club.Name</h3>

                    <div id="owl-testimonials" class="owl-carousel owl-theme owl-carousel--arrows-outside">

                        @foreach (Slideshow slide in Club.slideshow)
                        {
                        <div class="testimonial clearfix" style="padding: 0px;">
                            <img src="@slide.Image" class="entry__img" alt="">
                            <div class="testimonial__body" style="padding:7px 20px;">
                                <p class="testimonial__company">@slide.Tagline</p>
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-wrap pb-72 pb-lg-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="title-row">
                    <h2 class="section-title text-center">
                       Some more <span class="highlight">text here</span> for the club
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            /abo
            
            @for (int i = 0; i < 6; i++)
            {
            <div class="col-lg-4">
                <div class="feature box-shadow hover-up hover-line">
                    <svg class="feature__icon"><use xlink:href="img/icons/orion-svg-sprite.svg#medical-research-1"></use></svg>
                    <h4 class="feature__title">Lorem ipsum dolor</h4>
                    <p class="feature__text">Etiam consectetur turpis eu mollis ornare. Ut nec nisl in turpis.</p>
                </div>
            </div>
    }
        </div>
    </div>
</section>

<section class="section-wrap promo-section promo-section--pb-large pt-lg-40">

    <!-- Triangle Image -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 600 480" style="enable-background:new 0 0 600 480;" xml:space="preserve" class="triangle-img triangle-img--align-left">

        <g>
            <path class="st0" d="M232.16,108.54,76.5,357.6C43.2,410.88,81.5,480,144.34,480H455.66c62.83,0,101.14-69.12,67.84-122.4L367.84,108.54C336.51,58.41,263.49,58.41,232.16,108.54Z" fill="url(#img2)" />
            <path class="st0" d="M232.16,108.54,76.5,357.6C43.2,410.88,81.5,480,144.34,480H455.66c62.83,0,101.14-69.12,67.84-122.4L367.84,108.54C336.51,58.41,263.49,58.41,232.16,108.54Z" fill="url(#triangle-gradient2)" fill-opacity="0.7" />
        </g>
        </g>
    
        <defs>

            <pattern id="img2" patternUnits="userSpaceOnUse" width="600" height="600">
                <image xlink:href="@Club.style.BG2" width="600" height="600"></image>
            </pattern>

            <!-- DEFAULT: #2ca4ea / #6cc7fc -->
            <linearGradient id="triangle-gradient2" y2="100%" x2="0" y1="50%" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="@Club.style.Color2" />
                <stop offset="1" stop-color="@Club.style.Color1" />
            </linearGradient>
        </defs>    
    </svg>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <h2 class="promo-section__title promo-section__title--boxed">Some more random text</h2>
                <p class="promo-section__text lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia sem nec consectetur rutrum. Fusce fermentum efficitur fermentum. Nullam efficitur, nulla quis scelerisque malesuada, mi nibh finibus lacus, sit amet bibendum lectus diam ut ex. Suspendisse potenti. Proin ut arcu sed purus dictum porta sit amet sed est.</p>
                <a href="#" class="btn btn--lg btn--color btn--icon">
                    <span>Register</span>
                    <i class="ui-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-wrap">
    <div class="container">
        <div class="title-row title-row--boxed text-center">
            <h2 class="section-title">Latest News - Events - Programmes</h2>
            <p class="subtitle">Check out what’s been happening in our local basketball community</p>
        </div>
        <div class="row card-row">

            <div class="col-lg-4">
                <article class="entry card box-shadow hover-up">
                    <div class="entry__img-holder card__img-holder">
                        <a href="single-post.html">
                            <img src="https://static.wixstatic.com/media/2db6b8_e93aa1e5ed7840b9933df156967ca054~mv2.jpg/v1/fill/w_348,h_261,al_c,q_80,usm_0.66_1.00_0.01/2db6b8_e93aa1e5ed7840b9933df156967ca054~mv2.webp" class="entry__img" alt="">
                        </a>
                        <div class="entry__date">
                            <span class="entry__date-day">T1</span>
                            <span class="entry__date-month">2019</span>
                        </div>
                        <div class="entry__body card__body">
                            <h4 class="entry__title">
                                <a href="single-post.html">T1, 2019 - Monday Club Nights</a>
                            </h4>
                            <ul class="entry__meta">
                                <li class="entry__meta-category">
                                    <i class="ui-category"></i>
                                    <a href="#">Club Nights</a>
                                </li>
                            </ul>
                            <div class="entry__excerpt">
                                <p>
                                    We offer 2 x skills sessions catering for different age groups.<br />
                                    Term 1 Club Night Dates:  11th Feb - 8th Apr 2019<br />
                                    Pakuranga College Gymnasium, Pigeon Mountain Road, Pakuranga<br />
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-lg-4">
                <article class="entry card box-shadow hover-up">
                    <div class="entry__img-holder card__img-holder">
                        <a href="single-post.html">
                            <img src="https://static.wixstatic.com/media/2db6b8_06757b077329490e9a5709b11809dda9~mv2.jpg/v1/fill/w_348,h_261,al_c,q_90,usm_0.66_1.00_0.01/2db6b8_06757b077329490e9a5709b11809dda9~mv2.webp" class="entry__img" alt="">
                        </a>
                        <div class="entry__date">
                            <span class="entry__date-day">T2</span>
                            <span class="entry__date-month">2019</span>
                        </div>
                        <div class="entry__body card__body">
                            <h4 class="entry__title">
                                <a href="single-post.html">T2, 2019 - Eastern Dragons Club Muster</a>
                            </h4>
                            <ul class="entry__meta">
                                <li class="entry__meta-category">
                                    <i class="ui-category"></i>
                                    <a href="#">Club Muster</a>
                                </li>
                            </ul>
                            <div class="entry__excerpt">
                                <p>
                                    A Club Muster will be run during Term 1, 2019 for players wishing to be considered for Y3/4, Y5/6 and Y7/8 Club Teams for the Term 2 ABSL Eastern Basketball League
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-lg-4">
                <article class="entry card box-shadow hover-up">
                    <div class="entry__img-holder card__img-holder">
                        <a href="single-post.html">
                            <img src="https://static.wixstatic.com/media/2db6b8_04f6bb6e852445b2ba1338ad7a7117ad~mv2.jpg/v1/crop/x_0,y_1,w_300,h_223/fill/w_348,h_261,al_c,lg_1,q_80/2db6b8_04f6bb6e852445b2ba1338ad7a7117ad~mv2.webp" class="entry__img" alt="">
                        </a>
                        <div class="entry__date">
                            <span class="entry__date-day">2019</span>
                            <span class="entry__date-month">CAMP</span>
                        </div>
                        <div class="entry__body card__body">
                            <h4 class="entry__title">
                                <a href="single-post.html">2019 Basketball Holiday Camp</a>
                            </h4>
                            <ul class="entry__meta">
                                <li class="entry__meta-category">
                                    <i class="ui-category"></i>
                                    <a href="#">Holiday Camp</a>
                                </li>
                            </ul>
                            <div class="entry__excerpt">
                                <p>
                                    The Eastern Basketball Club will be running the following basketball holiday camp during the 2019 school holidays.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>

<section class="section-wrap section-wrap--pb-large bg-gradient" style="background-image: url(https://static.wixstatic.com/media/2db6b8_b88f6e2bfb924e61a3b572e769c9b4ba~mv2_d_4032_3024_s_4_2.jpg);">
    <div class="container">
        <div class="title-row title-row--boxed text-center">
            <h2 class="section-title">@Club.Tagline</h2>
            <p class="subtitle">@Club.Title</p>
        </div>
    </div>
</section>

<div class="container offset-top-152 pt-sm-48">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="call-to-action box-shadow-large text-center">
                <div class="call-to-action__container">
                    <h3 class="call-to-action__title">
                        Register and Come Join Us!
                    </h3>
                    <a href="#" class="btn nav__btn__custom">
                        <span class="nav__btn__custom-phone">Registration &amp; Info</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="widget widget-about-us">
                        <!-- Logo -->
                        <a href="/Home" class="logo-container flex-child">
                            <img class="logo" src="@Club.style.LogoURL" srcset="@Club.style.LogoURL" alt="logo">
                        </a>
                        <p class="mt-24 mb-32">@Club.Tagline</p>
                        <div class="socials">
                            <a href="https://twitter.com/ABSL_NZ" class="social social-twitter" aria-label="twitter" title="twitter" target="_blank"><i class="ui-twitter"></i></a>
                            <a href="https://www.facebook.com/ABSLBasketball/" class="social social-facebook" aria-label="facebook" title="facebook" target="_blank"><i class="ui-facebook"></i></a>
                            <a href="https://www.instagram.com/absl_1/?hl=en" class="social social-instagram" aria-label="instagram" title="instagram" target="_blank"><i class="ui-instagram"></i></a>
                        </div>
                    </div>
                </div> <!-- end about us -->


                <div class="col-lg-2 offset-lg-3 col-md-6">
                    <div class="widget widget_nav_menu">
                        <h5 class="widget-title">Resources</h5>
                        <ul>
                            @foreach (Pages plul in Club.pages)
                            {
                            <li><a href="/@plul.URL">@plul.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="widget widget-address">
                        <h5 class="widget-title">Company</h5>
                        <ul>
                            <li><address>Alexandra Park Function Centre, Greenlane Rd (West), Epsom, Auckland 1023</address></li><br />
                            <li>
                                <span>Phone: </span>
                                <a>(09) 623 7651</a>
                            </li>
                            <li>
                                <span>Email: </span>
                                <a href="mailto:info@absl.co.nz">info@absl.co.nz</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->

    <div class="footer__bottom top-divider">
        <div class="container text-center">
            <span class="copyright">
                &copy; 2019 ABSL
            </span>
        </div>
    </div> <!-- end footer bottom -->
</footer>
